.standard-content {
  max-width: 1000px;
  width: 100%;
  margin: var(--size-spacing-4) auto;
}

.center-content {
  text-align: center;
}

.heading-caption {
  margin-top: 0.25rem;
}


.heading-with-caption {
  margin-bottom: 0;
}

.fractal-card {
  white-space: pre;
  overflow-y: auto;
}

.content-push {
  margin-bottom: 2.25rem;
}

.fractal-input-text > div {
  width: 100%;
}

.fractal-select,
.fractal-input-text,
.fractal-input-textarea,
.fractal-input-radio-group .items {
  width: 100%;
  margin-bottom: 1.5rem;

  input,
  textarea {
    width: 100%;
  }

  textarea {
    min-height: 100px;
  }
}

.checkbox-wrapper {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  margin-bottom: 1.5em;
}

.fake-label {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.has-actions-paper {
  padding-bottom: 100px;
  position: relative;

  .paper-submit-button {
    position: absolute;
    right: 32px;
    bottom: 32px;
  }

  .paper-secondary-button {
    position: absolute;
    left: 32px;
    bottom: 32px;
  }

  @media (max-width: 768px) {
    .paper-submit-button,
    .paper-secondary-button {
      position: static;
      margin-bottom: 1rem;
    }
  }
}

.floating-card {
  position: fixed;
  bottom: 16px;
  right: 16px;
  max-width: 642px;
  width: 80%;
  background-color: white;
  border: 1px solid black;
  padding-right: 48px;
  z-index: 99;

  &--title {
    margin: 0;
    margin-bottom: 8px;
    line-height: 2rem;
  }

  &--legend {
    margin-bottom: 0;
  }

  &.collapsed {
    .floating-card--legend {
      margin: 0;
      display: flex;
      gap: 0.75rem;
      flex-wrap: wrap;

      .ledgend-item {
        display: flex;
        align-items: flex-start;
      }

      .legend-text {
        display: inline-block;
        line-height: 16px;
        margin-left: 6px;
      }
    }
  }

  .collapse-button {
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
  }
}

.fractal-input-radio-group {
  gap: 0;

  .items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--size-spacing-3);
  }

  button {
    align-self: flex-start;
    height: 70px;

    & > div {
      padding: 0;
    }

    svg {
      margin-top: 3px;
    }
  }
}

.form-headings {
  margin: 0;
}

.fake-helper {
  margin-top: 0;
}

.artwork-preview {
  width: 186px;
  height: 145px;
}

.color-preview-item {
  border-radius: var(--size-radius-s);
  display: inline-block;
  width: 30px;
  height: 30px;

  &.small {
    border-radius: var(--size-radius-xs);
    width: 16px;
    height: 16px;

  }
}

.color-theme-preview {
  display: flex;
  gap: 0.5rem;
}

.theme-items {
  label {
    line-height: 13px;
  }
}

.color-pickers {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.5rem;
}

.color-picker {
  position: relative;
  margin-right: 0.5rem;

  &--popup {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 99999;

    &.close {
      display: none;
    }

    &.open {
      display: block;
    }
  }
}
